agent/n8n/workflows/01_fristen_check.json
{
  "name": "FRYA 01 – Fristen-Check (täglich 08:00)",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Cron 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "fristen-check",
      "name": "FRYA Fristen-Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FRYA_AGENT_URL }}/api/n8n/fristen-check",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.FRYA_N8N_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $env.FRYA_TENANT_ID }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "has-alerts",
      "name": "Hat Fristen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.overdue.length + $json.due_today.length + $json.due_soon.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "send-telegram",
      "name": "Telegram Nachricht senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 220],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FRYA_AGENT_URL }}/api/communicator/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.FRYA_N8N_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.FRYA_TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "={{ '📋 Fristen-Check\\n' + $('FRYA Fristen-Check').item.json.summary }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron 08:00": {
      "main": [
        [{ "node": "FRYA Fristen-Check", "type": "main", "index": 0 }]
      ]
    },
    "FRYA Fristen-Check": {
      "main": [
        [{ "node": "Hat Fristen?", "type": "main", "index": 0 }]
      ]
    },
    "Hat Fristen?": {
      "main": [
        [{ "node": "Telegram Nachricht senden", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
