agent/n8n/workflows/04_frist_eskalation.json
{
  "name": "FRYA 04 – Frist-Eskalation (täglich 08:00)",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Cron 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "eskalation",
      "name": "FRYA Frist-Eskalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FRYA_AGENT_URL }}/api/n8n/frist-eskalation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.FRYA_N8N_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "={{ $env.FRYA_TENANT_ID }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "has-escalated",
      "name": "Eskalationen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.escalated_count }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "send-telegram",
      "name": "Telegram Eskalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 220],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FRYA_AGENT_URL }}/api/communicator/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.FRYA_N8N_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.FRYA_TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "={{ '🚨 Frist-Eskalation: ' + $json.escalated_count + ' Fall/Fälle >14 Tage überfällig. Problem-Einträge wurden erstellt.' }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron 08:00": {
      "main": [
        [{ "node": "FRYA Frist-Eskalation", "type": "main", "index": 0 }]
      ]
    },
    "FRYA Frist-Eskalation": {
      "main": [
        [{ "node": "Eskalationen?", "type": "main", "index": 0 }]
      ]
    },
    "Eskalationen?": {
      "main": [
        [{ "node": "Telegram Eskalation", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
